* {
    box-sizing: border-box;  
}

html {
    display: flex;
 }

.diceContainer {
    /* display: flex */
    height: 210px;
    border: 0px;
    margin: 0px;
    background-color: rgb(198, 149, 218);
    background-image: url('https://imgproxy.geocaching.com/0aedd170ee9accde0eff51fdba520c4f3baef1c1?url=https%3A%2F%2Flh6.googleusercontent.com%2F-5ahAqe6Z12s%2FVGKscYQ4FzI%2FAAAAAAAACfE%2FcAiXBD6othg%2Fw858-h413-no%2Froll%252B1.png');
    /* background-repeat: no-repeat; */
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 20px;
}

.diceContainer label {
    background-color: rgb(198, 149, 218);
}

#rollDice, #showAll, #howManyDice, #reset {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 20px;
}

#rollDice, #showAll, #reset {
    border: 2px solid purple;
}
   
#howManyDice {
    height: 23.33px;
    width: 100px;
}

#howManyDiceSides {
    height: 23.33px;
    width: 250px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 18px;
}

#rollTotal {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    font-size: 24px;
    border: 2px solid purple;
    background-color: rgb(250, 222, 66);
}


.allRollsContainer {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    background-color: rgb(184, 102, 216);
}

.allRollsContainer ol {
    padding-left: 70px;
}

.allRollsContainer li { 
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid black;
    color: black;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px; 
}